* {
  font-family: Avenir, Arial, Helvetica, sans-serif;
}

span.underline {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 75%;
  transition: background-size 0.25s ease-in;
}

button.close-button {
  display: none;
}

.Category {
  width: 90px;
  height: 90px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

table {
  position: absolute;
  margin-top: 30px;
}

th,
td {
  padding: 25px;
  text-align: left;
  font-weight: 500;
}
